doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    a(href=`/users/all`) Elenco Unità 
    br
    a(href=`/`) Nuova Unità
  body
    block content
            